NEXT_PUBLIC_SUPABASE_URL="https://kqrlbbonqarnydhbyruo.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtxcmxiYm9ucWFybnlkaGJ5cnVvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQ0NzI3MTQsImV4cCI6MjA5MDA0ODcxNH0.CNs4kgMv0eKtTTLoUhpg_gSIqVCfhCvODJSRsQJH4eE"
